:root {
    --onyx: #0f0f0f;
    --eggshell: #F0EAD6;
    --lighter-black: #181818;
    --wrapper-black: #121212;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--onyx);
    background-image: url("https://images.unsplash.com/photo-1541490741375-c80329446d8d?ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*div{
    display: block;
}*/

.col {
    /*width: 20%;
    padding: 0 0;*/
}

.card {
    background-color: var(--wrapper-black);
    border: hidden;
    color: white;
    text-align: center;
}

.card-img-top {
    height: 216px;
    width: 216px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
}

.card-img-top:hover {
    opacity: .7;
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbarIndent{
    padding-left: 200px;
}

.navText {
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
}

.background {
    width: 100%;
    margin-left: 0px;
}

.bodyText {
    text-align: center;
    letter-spacing: 2px;
    font-family: Lato;
    color: white;
    padding: 5px 0px 5px 0px;
}

.headerText {
    padding: 50px 0px 50px 30px;
    margin: 50px, 0, 50px, 0px;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

#mainWrapper {
    background-color: var(--wrapper-black);
    border: .5px solid;
    border-color: #3B3B3B;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity: .9;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        top: 50px;
    }

    100% {
        opacity: .9;
        top: 0px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .9;
    }
}

.wrapper {
    width: 100%;
    display: flex;
    
}

#About {
    background-color: var(--lighter-black);
    text-align: center;
    max-width: 45%;
    padding: 50px 30px 50px 30px;
    margin: 50px, 0px, 50px, 0px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 8px;
    /*float: left;*/
}


#gitHub {
    background-color: var(--lighter-black);
    text-align: center;
    max-width: 45%;
    /*margin: 50px, 0px, 50px, 0px;*/
    margin-left: 2.5%;
    margin-right: 5%;
    padding: 30px 135px 30px 135px;
    border: 2px solid;
    border-radius: 8px;
    float: left;
}

.githubPic {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    border: 2px solid;
    border-color: gray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity: .8;
}

.githubPic:hover {
    opacity: 1;
}

#form {
    /*color: white;*/
    background-color: var(--lighter-black);
    text-align: center;
    max-width: 45%;
    padding: 50px 30px 50px 30px;
    margin: 50px, 0px, 50px, 0px;
    margin-right: auto;
    margin-left: auto;
    border-color: var(--onyx);
    border: 2px solid;
    border-radius: 8px;
}

label {
    float: left;
}

.inputBox {
    border-radius: 10px;
    box-sizing: border-box;
    border: hidden;
    padding: 4px 10px;
    width: 400px;
}

.messageBox {
    min-height: 125px;
    height: auto;
}

.submitButton {
    letter-spacing: 2px;
    color: var(--eggshell);
    background-color: var(--onyx);
    border: hidden;
    border-radius: 10px;
    padding: 4px 25px;
}

.submitButton:hover {
    background-color: #595959;
}

footer {
       color: white;
       text-align: center;
       margin-top: 5px;
       margin-bottom: 5px;
}